{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Joshu App</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if description %}
    <meta name="description" content="{{ description }}"/>
    {% else %}
    <meta name="description" content="Welcome to Joshu App"/>
    {% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>

    <!--script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script-->

</head>

<body>

<div class="middle-header">
  <div class="sub-middlehead">
      {% include 'includes/navblock.html' %} <!-- Меню -->
  </div>

</div>
<div class="breadcrumbs">
    {% block breadcrumbs %}

    {% endblock %}
</div>
<div class="container base_content">

        <section>
          {% block content %}

          {% endblock %}

          {% block content2 %}
          {% endblock %}
        </section>

</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}

{% endblock %}



  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script-->
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->

</body>
</html>