<nav class="navbar navbar-expand-lg navbar-light">
    <a style="margin-right: 20px" href="{% url 'index' %}">🏠</a>
    <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-header">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Профиль: <strong>{{ user.get_username }}</strong></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="{% url 'main_app:logout' %}">Выйти</a>
                </div>
            </li>
             {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'main_app:login' %}?next={{request.path}}">Войти</a>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle header-nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Админ меню
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'main_app:messages_all' %}">Сообщения Чат-бота Telegram</a>

              </div>

            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
</nav>


